*{
    background-color:black;
    color: white;
    animation-delay: initial 2s;
    animation-duration: 3s;
    animation-name:  slidein;
   
}
@keyframes  slidein{
    from{
        margin-left: 100%;

    }
    to{
        margin-left: 0%;
    }
}
